.title-text {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.title-text img {
    width: 23px;
    height: 23px;
}

.title-tasks {
    position: relative;
    margin-bottom: 54px;
    padding-top: 88px;
}

.message-title {
    max-width: 704px;
    position: absolute;
    top: 36px;
    right: 0px;
    border-radius: 4px;
    background: linear-gradient(to right, rgb(206, 6, 208, 0.1), rgb(0, 219, 222, 0.1));
    padding: 18px 20px;
}

.filter-inputs {
    display: flex;
}

.message-title p {
    font-size: min(max(1.058vw, 10px), 16px);
}


.tasks-content-main {
    display: flex;
    column-gap: 50px;
    margin-bottom: 50px;
}


.view-tasks-mobile .view-tasks {
    display: none;
}

.view-tasks {
    display: flex;
    column-gap: 5px;
}

.active-view {
    color: #1EBBED;
}

.view-tasks ul li a {
    transition: 0.5s;
}

.pagination-tasks {
    display: flex;
    margin-left: auto;
    margin-top: 35px;
    max-width: 632px;
    justify-content: space-between;
}

.pagination-items {
    display: flex;
    column-gap: 15px;
}

.right-arrow-pagination {
    transform: rotate(-180deg);
}

.pagination-items ul {
    display: flex;
    list-style: none;
}

.pagination-items ul li a {
    padding: 5px 10px;
}

.view-tasks ul li a:hover {
    color: #1EBBED;
}

.active-paginate {
    background: linear-gradient(90deg, #CE06D0 0%, #00DBDE 100%);
    border-radius: 4px;
    color: #ffffff;
}

.view-tasks ul {
    display: flex;
    list-style: none;
    column-gap: 8px;
}

@media(max-width:867px) {
    .filter-inputs {
        display: none;
    }

    .tasks {
        margin-left: 0px !important;
    }

    .view-tasks-mobile {
        max-width: 632px;
    }

    .task-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .view-tasks-mobile .view-tasks {
        display: flex;
        justify-content: center;
        margin-bottom: 13px;
    }

    .tasks-content-main {
        flex-direction: column;
    }

    .message-title {
        top: 13px;
    }

    .pagination-tasks .view-tasks {
        display: none;
    }

    .pagination-tasks {
        justify-content: center;
        margin-left: 0px;
    }
}